In [1]:
import pandas as pd

In [2]:
anime_df = pd.read_csv("../data/preprocessed_anime.csv")
rating_df = pd.read_csv("../data/preprocessed_rating.csv")

In [3]:
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
rating_df.head()

   user_id  anime_id  rating
0        1      8074      10
1        1     11617      10
2        1     11757      10
3        1     15451      10
4        2     11771      10

In [5]:
df = pd.merge(rating_df, anime_df, on="anime_id", how="inner")

In [6]:
df.rename(columns={"rating_x": "user_rating", "rating_y": "anime_rating"}, inplace=True)

In [7]:
df

,user_id,anime_id,user_rating,name,genre,type,episodes,anime_rating,members
0,1,8074,10,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892
1,3,8074,6,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892
2,5,8074,2,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892
3,12,8074,6,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892
4,14,8074,6,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892
...,...,...,...,...,...,...,...,...,...
5956999,69964,31380,9,To LOVE-Ru Darkness 2nd OVA,"Comedy, Ecchi, Harem, Romance, School, Sci-Fi,...",OVA,3,7.91,18575
5957000,70161,31380,9,To LOVE-Ru Darkness 2nd OVA,"Comedy, Ecchi, Harem, Romance, School, Sci-Fi,...",OVA,3,7.91,18575
5957001,70577,31380,7,To LOVE-Ru Darkness 2nd OVA,"Comedy, Ecchi, Harem, Romance, School, Sci-Fi,...",OVA,3,7.91,18575
5957002,71896,31380,9,To LOVE-Ru Darkness 2nd OVA,"Comedy, Ecchi, Harem, Romance, School, Sci-Fi,...",OVA,3,7.91,18575
5957003,63076,26123,7,Seitokai Yakuindomo* OVA,"Comedy, School, Shounen, Slice of Life",OVA,6,8.05,26361

In [8]:
# df.to_csv("../data/merged.csv", index=False)
df.to_pickle("../data/data.pkl")

In [9]:
# 食わせやすい形式にしていく　今回は他の特徴は捨てる
df = df[["user_id", "name", "anime_rating"]]
df.drop_duplicates(inplace=True)

/tmp/ipykernel_11388/4259243721.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [10]:
df = df.pivot(index="name", columns="user_id", values="anime_rating").fillna(0)

In [12]:
df.to_pickle("../data/pivot_data.pkl")